
[data-testid="stAppViewContainer"] > .main {
    padding: 2rem 5rem 5rem 5rem;
}
.stTextArea {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.stTextArea > div > div {
    border: none !important; 
}
.stAlert {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: none;
}
.stButton > button {
    border-radius: 8px;
    border: none;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}